{% extends "layout.html" %}

{% block content %}

<div content>

<div class="container">

<div class="row">
  <div class="col">

  <div class="card">
      <div class="card-body">
      <h5 class="card-title">Dig Online</h5>
      {% if error %}
        <div class="alert alert-primary" role="alert">
        {{ error }}
        </div> 
      {% endif %}    

      {% for field, errors in form.errors.items() %}
      <div class="alert alert-primary" role="alert">
         {{ form[field].label }}: {{ errors[0] }}
      </div>
      {% endfor %} 



      <form method="post" action=" {{ url_for('dig') }} ">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
     
      <p>
      {{ form.hostname.label }}
      {{ form.hostname }}
      {{ form.qtype.label }}
      {{ form.qtype }}
      </p>
      <p>
       <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAdvanced" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
          Advanced
        </a>
      </p>
      <div class="collapse" id="collapseAdvanced">
      
         <p>
         {{ form.authdig.label }}
         {{ form.authdig }}
         </p><p>
         {{ form.dnssecdig.label }}
         {{ form.dnssecdig }}
         </p><p>
         {{ form.compare.label }}
         {{ form.compare }}
         </p><p>
         {{ form.proto.label }}
         {{ form.proto }}
         </p>
         
       </div>

      <p>
      <input class="btn btn-primary" type="submit" value="DIG">
      </p>

      </form>
     </div><!-- card body --> 
    </div><!-- card -->


   {% for res in providers %}
    <div class="card {% if matches(resarray[loop.index0],winner) or compare == False %}border-dark{% else %}border-danger{% endif %} mb-3 mr-1">
      <div class='card header'><table align='center' ><tr> 
      {% if name2logo( res[1] )[0] != "" %}<td><img src="/static/{{ name2logo( res[1] )[0] }}" width="32" height="32" alt="{{ name2logo( res[1] )[1] }}" title="{{ name2logo(res[1] )[1] }}"></td> 
      {% endif %}
      <td>{{ res[1] }}</td>
      </table>  
      </div> 
      <div class="card-body">
      <h5 class="card-title"> server: {{ res[0] }}  type: {{ res[2] }} </h5>
     
        <p class="card-text"><pre>
{{ resarray[loop.index0] }}  
      </pre>
      </div>
    </div>
   {% endfor %}

  </div>
</div>
</div>
</div>

{% endblock %}
